// flex
@mixin flex($direction, $align, $justify, $wrap, $gap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    gap: $gap;
}

// grid

@mixin grid($columns, $gutters, $rows: auto, $template-areas: null) {
    display: grid;
    grid-template-columns: $columns;
    gap: $gutters;
    grid-template-rows: $rows;

    @if $template-areas != null {
        grid-template-areas: $template-areas;
    }
}

// escritorio
@mixin escritorio {
    @media (min-width: 1024px) {
        @content;
    }
}


// tablet telefono
@mixin tablet-telefono {
    @media (max-width: 48rem) {
        @content;
    }
}