// color

$color-overallfont-button: #261c17;
$color-headerfooterbg: #352a24;
$color-asidebg-visitedlinks: #ba8a6f;
$color-pagebga-lighttext: #F5E1C9;
$color-activetext: #fbebd7;
$color-tarjetabg-category: #e3b498;
$color-navbartext-togglerborder: #f5dfc4;
$color-asideparagraphbg: #d5a183;
$color-visitednavbartext: #baad9c;
$color-activebuttonbg-border: #574035;

// fuente

$fontfamily: 'Poppins', sans-serif;
$fontbold: 600;

// imagen fondo navbar
$bg-navbar: url('../img/Untitled-4.png');

// sombreado

$sombra: 0.3125rem 0.3125rem 0.625rem $color-overallfont-button;