@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;


.tarjeta {
    background: linear-gradient($color-tarjetabg-category, $color-navbartext-togglerborder, $color-tarjetabg-category);
    color: $color-overallfont-button;
    padding: 0.625rem;
    width: min(300px, 100%);
    border-radius: 0.3125rem;
    margin: 0.625rem;
}

@include tablet-telefono {
    .tarjeta {
        width: 100%;
        margin: 0;
    }
}
